.loginsignup {
    width: 100%;
    /* height: 100vh; */
    background-color: #fce3fe;
    padding-top: 80px;
    padding-bottom: 80px;
}
.loginsignup-container {
    width: 580px;
    height: 580px;
    background-color: white;
    margin: auto;
    padding: 30px 45px;
    h1 {
        margin: 15px 0px;
    }
    .loginsignup-fields {
        width: 480px;
        display: flex;
        flex-direction: column;
        gap: 29px;
        margin-top: 30px;
        input {
            height: 60px;
            width: 100%;
            padding-left: 20px;
            border: 1px solid #c9c9c9;
            outline: none;
            color: #5c5c5c;
            font-size: 18px;
        }
    }
    
    button {
        width: 480px;
        height: 60px;
        color: white;
        background-color: #ff4141;
        margin-top: 30px;
        border: none;
        font-size: clamp(2rem, 3vw, 3rem);
        font-weight: 500;
        cursor: pointer;

    }
    .loginsignup-login {
        margin-top: 20px;
        color: #5c5c5c;
        font-size: clamp(14px, 1rem, 18px);
        font-weight: 500;
        span {
            color: #ff4141;
            font-weight: 600;
        }
    }
    .loginsignup-agree {
        display: flex;
        align-items: center;
        margin-top: 25px;
        gap: 20px;
        color: #5c5c5c;
        font-size: clamp(14px, 1rem, 18px);
        font-weight: 500;
    }
}
/* @media (max-width: 1200px) {
    .loginsignup {
        height: 120vh;
    }
    
} */
@media (max-width: 600px) {
    .navbar + .loginsignup, .footer + .loginsignup {
        display: none !important;
    }
    .loginsignup {
        width: 100%;
        height: 100%;
        padding-top: 0px;
        .loginsignup-container {
            width: fit-content;
            height: fit-content;
            padding: 20px 30px;
            .loginsignup-fields, button {
                width: 370px;
            }
            .loginsignup-agree {
                max-width: 370px;
            }
        }
       
    }

}


