.offers{
    /* height: 90vh; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.offers > div{
    width: 100%;
    /* height: 60vh; */
    display: flex;
    align-items: center;
    padding: 0px 60px;
    background: linear-gradient(180deg, #fde1ff 0%, #e1ffea22 60%);
}
@media (max-width: 1700px) {
    .offers > div{
        width: 90%;
        /* height: 80vh; */
    }
}
.offers-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #171717;
    font-weight: 600;
}
.offers-left h1{
    font-size: clamp(2rem, 4vw, 5rem);
    /* max-width: 16rem; */
}
.offers-left p{
    font-size: 1rem;
}
.offers-left button{
    width: 282px;
    height: 70px;
    padding: 15px 0;
    border-radius: 35px;
    background-color: #ff4141;
    border: none;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 30px;
    cursor: pointer;
}
.offers-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 30%;
}
@media (max-width: 767px) {
    .offers > div {
        padding: 20px;
    }
    .offers-left button{
        width: 200px;
    }
    .offers-right {
        display: none;
    }
}
.offers-right img{
    width: 60%;
    aspect-ratio: 1/1.4;
}